* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.time-select,
.player-container,
.sound-picker {
  height: 80%;
  flex: 1;
}

.time-select {
  background-color: lightblue;
}

.player-container {
  background-color: lightcoral;
}

.sound-picker {
  background-color: lightgreen;
}
